*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: black;
    width: 400px;
    height: 85%;
    position: relative;
    color:white;
    margin: 0;
    padding: 0;
}
.top-bar{
    width: 100%;
    height: 10%;
    /* background-color: rgb(135, 11, 11); */
    position: absolute;
    top:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    margin: 0;
    /* left: 0;
    right: 0; */
}
.bottom-bar{
    width: 100%;
    height: 10%;
    /* background-color: rgb(135, 11, 11); */
    position: absolute;
    /* left:0;
    right: 0; */
    bottom: 0;
    font-size: 23px;
    padding-right: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}
.side-bar{
    width: 2.5rem;
    height: 80%;
    position: absolute;
    right: 0;
    top:10%;
    /* background-color: rgb(135, 11, 11); */
    font-size: 25px;
    padding-right: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.text{
    position: absolute;
    bottom: 10%;
    word-spacing: 5px;
    padding: 10px;
}
.text h3{
    margin-bottom: 10px;
}
.video-holder{
    width: 100%;
    height: 100%;
    overflow: scroll;
   
}
.video-tag{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
video{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}